
@{
    ViewBag.Title = "Les chatbots";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Les chatbots, une nouvelle technologie à ne pas négliger </h2>

<h3>
    Comment ai-je fait ma veille technologie ?
</h3>

<p>
    Par définiton, une Veille technologique est une activité consistant à se tenir informé des innovations dans un secteur déterminé. Dans mon cas, le domaine de l'informatique, en particulié les chatbots m'ont séduit.
    Pour cela, je me suis abonné à des newsletters et aux Google alertes   :
    <br /><br /><br />
    <a href="https://chatbotsmagazine.com/">Chatbot Magazine</a>
    <br />
    <a href="https://blog.futuresfestivals.com/">Futures Festivals</a>
    <br />
    <img src="@Url.Action("SelectPicture")" />

</p>

<h3>
    Qu’est-ce qu’un chatbot ?
</h3>
<p>
    Le mot chatbot est un mot-valise composé de chat et de bot. Le mot chat signifie discussion ; il vient du verbe to chat = discuter. Bot est une aphérèse. C’est la deuxième syllabe du mot robot. Un chatbot est donc un robot qui discute. On parle aussi d’assistant virtuel ou d’agent conversationnel.
    Plus précisément, un chatbot est un programme informatique conçu pour répondre aux questions qui lui sont posées, pour simuler une conversation ou pour exécuter des tâches au moyen du langage naturel. Un chatbot fonctionne via un service de messagerie hébergé sur un site web ou sur les réseaux sociaux.

</p>

<strong>Pour aller plus loin</strong>
<br />
<p>
    Voici une courte séquence vidéo (en anglais) postée sur Youtube<a href="https://www.youtube.com/watch?v=NPEPx6VUgrg">The Verge</a> qui présente l’état de l’art en matière d’intelligence artificielle.
</p>
<h3>
    À quoi sert un chatbot ?
</h3>
<p>
    On peut trouver diverses utilités à ces programmes.
    Ils permettent par exemple, pour un commerçant, d’offrir à moindre coût un service après-vente ou un support à ses utilisateurs.
    Plus récemment, l’application Duolingo a développé des chatbots afin de permettre aux individus souhaitant améliorer leur français ou leur espagnol d’avoir une “vraie” conversation.
    <br />L’intérêt est triple :
    <br />1) la machine n’émet aucun jugement sur les erreurs commises par l’utilisateur
    <br />2) qui peut choisir de faire répéter la machine indéfiniment
    <br />3) sans avoir à trouver de nouveaux interlocuteurs.
</p>
<h3>
    Mind Meister : La présence des Chatbots dans notre société
</h3>
<br /><br /><br />




<iframe width="100%" height="800" frameborder="0" src="https://www.mindmeister.com/maps/public_map_shell/1264101179/la-pr-sence-des-chatbots-dans-notre-soci-t?width=900&height=400&z=auto&presentation=1" scrolling="no" style="overflow: hidden; margin-bottom: 5px;">
    Votre navigateur ne peut pas afficher les images. Veuillez visiter <a href="https://www.mindmeister.com/1264101179/la-pr-sence-des-chatbots-dans-notre-soci-t" target="_blank">La présence des Chatbots dans notre société</a> sur MindMeister.
</iframe>
<div class="mb-5">
    <p>
        Problèmes d'affichage ? Cliquez ci dessous.
    </p>
    <a href="https://www.mindmeister.com/1264101179/la-pr-sence-des-chatbots-dans-notre-soci-t" target="_blank">La présence des Chatbots dans notre société</a> par <a href="https://www.linkedin.com/in/r-g/" target="_blank">Ganesh Radje</a>
</div>


