
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <h2>Qui suis-je ?</h2>
        <p><strong>Un développeur Junior en C# .NET qui s'oriente vers les outils Microsofts</strong>😉</p>
        <p>
            Après mon <strong>BAC S SI (Sciences de l'ingénieur),</strong>
            Je deviens étudiant à <strong><a href="http://www.epsi.fr/">l'EPSI PARIS.</a></strong>
            J'ai fait le choix de prendre <strong>l'option BTS SIO</strong> (Services Informatiques aux Organisations)
            spécialité <strong>SLAM </strong>(Solutions Logicielles et Applications Métiers) avec comme option <strong>Mathématiques Aprofondies</strong>.
        </p>
        <!--<p>
            Mon projet professionnel est de devenir <strong>Chef de Projet Informatique</strong> mais pour cela je dois gravir les échelons.
            C'est pour cela que je vais continuer en alternance pour décrocher un <strong> Titre RNCP de niveau I "Expert en Informatique et systèmes d'information"</strong> Chez <strong><a href="https://www.ynov-paris.com/expert-en-developpement-mobile/">Ingésup</a></strong>
        </p>-->
    </div>

    <div class="row">
        <p>
            Consultez mon CV pour en savoir plus sur mon parcours et suivez moi sur <a href="https://www.linkedin.com/in/r-g/">LinkedIn</a>
        </p>
        <iframe src="@Url.Action("GetCV")" width="100%" height="1000"></iframe>

    </div>
</div>
