@{
    ViewBag.Title = "Contactez-moi !";
}
<h2>@ViewBag.Title</h2>
<h2>Des remarques ? Des questions ? N'hésitez pas !</h2>

<address>
    <abbr title="Phone">P:</abbr> 07 81 65 11 42
</address>

<address>
    <strong>Contact</strong>   <a href="mailto:contact@r-ganesh.fr">contact@r-ganesh.fr</a><br />
</address>