@{
    ViewBag.Title = "R-Ganesh";
}

<div class="jumbotron">
    <h1>Bonjour à vous !  👋</h1>
    <p class="lead">
        Moi c'est Ganesh !
    </p>
    <p><a href="/QuiSuisJe/Index" class="btn btn-primary btn-lg">En savoir plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mes projets</h2>
        <p>Venez voir les projets clé tel que les PPE...</p>
        <p><a class="btn btn-default" href="/Projets/Index">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mes expériences</h2>
        <p>Découvret mon parcours à travers mes stages...</p>
        <p><a class="btn btn-default" href="/Experiences/Index">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Veille technologique</h2>
        <p>Les Chatbots, un univers qui se développe de plus en plus pour conquérir le marché économique !</p>
        <p><a class="btn btn-default" href="/VeilleTechno/Index">En savoir plus &raquo;</a></p>
    </div>
</div>